<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- METATAGS -->
      <!-- CUSTOM -->
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="google-site-verification" content="y0NjXVqQOvN1RmdSQ7DLwlEDpFrKkOs4DfxpoTGjgng" />
      <title>Notepong</title>
      <meta name="description" content="Fundació Miranda - Santuari de cavalls lliures. On els cavalls poden tornar a ser cavalls." />
      <meta name="application-name" content="Fundació Miranda">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <!-- END -->
    <!-- END -->

    <!-- CSS -->
      <!-- LIBS -->
      <link rel="shortcut icon" type="image/png" href="/images/favicon.png?v=5"/>
      <link rel="stylesheet" type="text/css" href="/static/css/lib/reset.css">
      <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css">
      <!-- END -->
      
      <!-- CUSTOM -->
      <link rel="stylesheet" type="text/css" href="/static/css/modernForm.css">
      <link rel="stylesheet" type="text/css" href="/static/css/base.css">
      <!-- END -->
    <!-- END -->
  
    <!-- SCRIPTS -->
      <!-- LIBS  -->
      <script src="https://use.fontawesome.com/e1961fd544.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
		
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/static/js/lib/bootstrap.min.js"></script>
      <!-- END -->

      <!-- CUSTOM -->
      <!-- END -->

    <!-- END -->
  </head>

  <body>
  	

<div id="notepong" class="notepong scrollingPage modernForm">
	<h1 class="center">Notepong</h1>

	<div class="largePadding centered">
		<div class="board">
			<span class="title">Ranking</span>


			<!-- <div class="player" v-for="todo in todos" data-bind="css: {leader: $index() == 0}"> -->
			<div class="player" v-for="stat in stats">
<!-- 					<div class="playerAvatar playerBackgroundAvatar" data-bind="style: {backgroundImage: 'url(\'' + user.avatar() + '\')' }"></div> -->
				<span class="name">{{stat.user.username}}</span>
				<span class="points">{{stat.points}}</span>
			</div>
		</div>

		<div class="board tournaments">
			<span class="title">Tournaments</span>
			<div class="" v-for="tournament in tournaments">
				<!-- <span class="tournament" data-bind="text: name, click: showTournament" /> -->
				<span class="tournament">{{tournament.name}}</span>
			</div>
		</div>

		<div class="board lastGames">
			<span class="title">Last games</span>
				<div class="" v-for="game in lastGames">
				<span class="game">{{game.text}}</span>
			</div>
		</div>
	</div>

	<div class="buttonsWrapper centered">
		<button class="primary" v-on:click="addResult">Add result (regular season)</button>
		<button class="primary" v-on:click="createTournament">Create tournament</button>
		<button class="primary" data-toggle="modal" data-target="#addUser">Add player</button>
	</div>

	<!-- <div data-bind="template: { name: 'fun/tournament', data: tournament}"></div> -->
</div>

<!-- ADD USER - Modal -->
<div class="modal fade modernForm medium" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Ping Pong Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
				<label class="formLabel">Username: </label><input type="text" v-model="username" />
				<label class="formLabel">NF ID: </label><input type="text" v-model="userId" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="primary" v-on:click="add">Add</button>
      </div>
    </div>
  </div>
</div>


    <!-- CUSTOM -->
    <script type="text/javascript" src="/static/js/notepong.js"></script>
    <script type="text/javascript" src="/static/js/addUser.js"></script>
    <!-- END -->
  </body>
</html>